<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @teacher.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @teacher.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<%= link_to 'Back', root_path %>
<%= link_to 'Edit', edit_teacher_path(@teacher) %>
<br>

<% if @teacher.clocked? %>
    <%= link_to 'Clock Out', clock_event_path, method: :put, class: 'btn btn-lg btn-info' %>
<% else %>
<%= link_to 'Clock In', new_clock_event_path, class: 'btn btn-lg btn-success' %>
<% end%>



<hr>
<h4>  Past Clock Events </h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Time in</th>
      <th scope="col">Time Out</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
<% @teacher.clock_events.last(10).each do |f| %>
    <tr>
        <td> <%= f.time_in %> </td>
        <td> <%= f.time_out %> </td>
        <td> <%= link_to 'Destroy', "/clock_events/#{f.id}", method: :delete %> </td>
    </tr>
<% end %>


