<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @teacher.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @teacher.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<%= link_to 'Back', teachers_path %> |
<%= link_to 'Edit', edit_teacher_path(@teacher) %>
<br>

<% if @teacher.clocked? %>
    <%= link_to 'Clock Out', clock_event_path, method: :put, class: 'btn btn-lg btn-info' %>
<% else %>
<%= link_to 'Clock In', new_clock_event_path, class: 'btn btn-lg btn-success' %>
<% end%>
