<!DOCTYPE html>
<html>
  <head>
    <title>Clocking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="container">
          <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <p class="navbar-text pull-right">
          <% if teacher_signed_in? %>
              <% teacher = Teacher.find_by(email: current_teacher.email) %>
              <%= link_to 'Clock time', "/teachers/#{teacher.id}", class: 'navbar-link' %> |
              <%= link_to "Logout", destroy_teacher_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
              <%= link_to "Sign up", '/teachers/sign_up', :class => 'navbar-link'  %> |
              <%= link_to "Login", new_teacher_session_path, :class => 'navbar-link'  %>
          <% end %>
          </p>
          <%= yield %>
      </div>
  </body>
</html>
